//Project Variables

@import url(https://fonts.googleapis.com/css?family=Oxygen:300|Raleway:200);

//Font
$body-font: 'Oxygen', sans-serif;
$header-font: 'Raleway', sans-serif;

//Colors
$active-item: #D8D8D8;
$link: #ef9e9f;

//Grid variables
$grid-columns: 12;
$grid-max-width: 65em;

//Breakpoints
$breakpoint-small-below: 'only screen and (max-width: 30em)';
$breakpoint-small: 'only screen and (min-width: 20em)';
$breakpoint-medium: 'only screen and (min-width: 30em)';
$breakpoint-medium-between: 'only screen and (max-width: 85.666em)';