<div class="col-12"><h1 class="center_text">{{name}} King Florist</h1></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>{{fields.subtitle_one}}</h3>
    </div>
    <div class="col-4"><img src="{{fields.history_image}}" alt="History of King Florist" /></div>
    <div class="col-8">{{{fields.history}}}</div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>{{fields.subtitle_two}}</h3>
    </div>
    <div class="col-4"><img src="{{fields.present_image}}" alt="History of King Florist" /></div>
    <div class="col-8">{{{fields.present}}}</div>
  </div>
</div>
