<div class="row">
  <div class="col-12"><h1 class="center_text">{{name}}</h1></div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="col-10">
          <h3>{{fields.subtitle_one}}</h3>
          {{{fields.order_info}}}
        </div>
      </div>
      <div class="col-8 left_border">
        <!-- Order Form -->
        <div class="col-12">
          <h3>Order Online</h3>
          <form action="https://docs.google.com/forms/d/e/1FAIpQLSemW7rjwiUfOO6zVq0cLWCnSaBwuIGtTN-_TUweo6DPOvKz6g/formResponse" id="contact-form" onsubmit="submitted=true;" method="POST" target="hidden_iframe">
            <div class="col-12">
              <input type="text" name="entry.2027623761" placeholder="Full Name" value=""  class="ss-q-short" id="entry_2027623761" dir="auto" aria-label="Full Name" title="Full Name" required>
            </div>
            <div class="col-6">
              <input type="text" name="entry.134109275" value="" placeholder="Address" class="ss-q-short" id="entry_134109275" dir="auto" aria-label="Address" title="Address">
            </div>
            <div class="col-6">
              <input type="text" name="entry.244409234" value="" placeholder="Zipecode" class="ss-q-short" id="entry_244409234" dir="auto" aria-label="Zipcode" title="Zipcode">
            </div>
            <div class="col-6">
              <input type="text" name="entry.393543883" value="" placeholder="Contact Phone" class="ss-q-short" id="entry_393543883" dir="auto" aria-label="Contact Phone" title="Phone" required>
            </div>
            <div class="col-6">
              <input type="text" name="entry.589766869" value="" placeholder="Email" class="ss-q-short" id="entry_589766869" dir="auto" aria-label="Email" title="Email" required>
            </div>
            <div class="col-12">
              <textarea name="entry.2049921650" value="" placeholder="Please describe your order" class="ss-q-short" id="entry_2049921650" dir="auto" aria-label="Description" title="Description" required></textarea>
            </div>
            <div class="col-12">
              <textarea name="entry.1385816747" value="" placeholder="Write a personal message for the special occasion" class="ss-q-short" id="entry_1385816747" dir="auto" aria-label="Card Message" title="Card Message"></textarea>
            </div>
            <div class="col-6">
              <input type="text" name="entry.1722699699" value="" placeholder="Recipient Full Name" class="ss-q-short" id="entry_1722699699" dir="auto" aria-label="Recipient Full Name" title="Recipient Full Name" required>
            </div>
            <div class="col-6">
              <input type="text" name="entry.1854348801" value="" placeholder="Recipient Phone" class="ss-q-short" id="entry_1854348801" dir="auto" aria-label="Recipient Phone" title="Recipient Phone">
            </div>
            <div class="col-6">
              <input type="text" name="entry.1879462382" value="" class="ss-q-short" id="entry_1879462382" dir="auto" aria-label="Recipient Address" title="" placeholder="Recipient Address">
            </div>
            <div class="col-6">
              <input type="text" name="entry.149395152" value="" class="ss-q-short" id="entry_149395152" dir="auto" aria-label="Recipient Zipcode" title="Zipcode" placeholder="Zipcode">
            </div>
            <div class="col-12">
              <label class="col-6 ss-q-item-label" for="entry_2053618611">Delivery Date</label>
              <input class="col-6" type="date" name="entry.2053618611" value="" class="ss-q-date" dir="auto" id="entry_2053618611" aria-label="Delivery Date">
            </div>
            <div class="col-12">
              <label class="col-6">Select Payment Type</label>
              <select class="col-6" name="entry.1221506905" id="entry_1221506905" aria-label="Payment Option"><option value=""></option>
              <option value="Cash">Cash</option> <option value="Credit Card">Credit Card</option> <option value="Check">Check</option></select>
            </div>
            <div class="-12">
              <input type="hidden" name="draftResponse" value="[,,&quot;3850533455388512256&quot;]">
              <input type="hidden" name="pageHistory" value="0">
              <input type="hidden" name="fbzx" value="3850533455388512256">
              <div class="g-recaptcha col-7" data-sitekey="6Le1DCUTAAAAAF37kog1ShVOyW7N-D5YlmZXS8z7"></div>
              <div class="col-5">
                <button type="submit" name="submit" value="Submit" id="ss-submit" class="col-9 center">Send Order</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="col-10">
          <h3>{{fields.subtitle_two}}</h3>
        </div>
      </div>
      <div class="col-8 left_border">
        <div class="col-12">
          {{{fields.delivery_desc}}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="col-10">
          <h3>{{fields.subtitle_three}}</h3>
        </div>
      </div>
      <div class="col-8 left_border">
        <div class="col-12">
          {{{fields.payment_desc}}}
        </div>
      </div>
    </div>
  </div>
</div>
