@import url(https://fonts.googleapis.com/css?family=Oxygen:300|Raleway:200);
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.center_text {
  text-align: center; }

.center {
  margin: 0 auto;
  display: block;
  float: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.wrapper,
.row,
.center {
  *zoom: 1; }
  .wrapper:before, .wrapper:after,
  .row:before,
  .row:after,
  .center:before,
  .center:after {
    content: "";
    display: table; }
  .wrapper:after,
  .row:after,
  .center:after {
    clear: both; }

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .col-1 {
    width: 8.33333%; }
  .col-2 {
    width: 16.66667%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33333%; }
  .col-5 {
    width: 41.66667%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33333%; }
  .col-8 {
    width: 66.66667%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33333%; }
  .col-11 {
    width: 91.66667%; }
  .col-12 {
    width: 100%; } }

@media only screen and (min-width: 30em) {
  .small {
    display: none; } }

@media only screen and (max-width: 30em) {
  .medium {
    display: none; } }

.mobile_nav {
  width: 30px;
  height: 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer; }
  .mobile_nav span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #ef9e9f;
    border-radius: 9px;
    -webkit-box-sizing: 9px;
    -moz-box-sizing: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; }

.mobile_nav span:nth-child(1) {
  top: 0; }

.mobile_nav span:nth-child(2), .mobile_nav span:nth-child(3) {
  top: 7px; }

.mobile_nav span:nth-child(4) {
  top: 15px; }

.mobile_nav.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.mobile_nav.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.mobile_nav.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.mobile_nav.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

nav ul {
  list-style-type: none; }

.main_nav ul li a {
  text-align: center;
  border-bottom: 3px solid #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.7px; }
  .main_nav ul li a:hover {
    color: #D8D8D8;
    border-bottom: 3px solid #D8D8D8; }

.service_nav {
  padding-bottom: 20px; }
  .service_nav ul li a {
    text-align: center;
    border-bottom: 3px solid #fff; }
    @media only screen and (max-width: 30em) {
      .service_nav ul li a {
        border: 1px solid #ef9e9f;
        border-radius: 10px;
        -webkit-box-sizing: 10px;
        -moz-box-sizing: 10px;
        margin-bottom: 10px; } }
    .service_nav ul li a:hover {
      color: #D8D8D8;
      border-bottom: 3px solid #D8D8D8; }

.service {
  border: 2px solid #fff; }
  .service:hover {
    border: 2px solid #ef9e9f;
    cursor: pointer; }
    .service:hover .center_text {
      color: #D8D8D8; }

.breadcrumbs {
  padding: 20px 0; }
  .breadcrumbs ul li {
    display: inline-block;
    padding: 0 10px; }
    .breadcrumbs ul li:last-child {
      color: #D8D8D8; }
      @media only screen and (max-width: 30em) {
        .breadcrumbs ul li:last-child {
          margin-top: 5px; } }

html, body {
  height: 100%;
  font-family: "Oxygen", sans-serif;
  text-transform: none;
  font-weight: 300;
  font-size: 16px; }

p {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 1.5px; }

a {
  text-decoration: none;
  color: #ef9e9f; }

header {
  border-bottom: 1px solid #D8D8D8; }
  header .col-4 {
    padding-left: 0 !important; }
    @media only screen and (min-width: 30em) {
      header .col-4 {
        margin-left: -20px; } }
    header .col-4 .col-12 {
      padding-left: 0 !important; }
  header .col-8 {
    padding-right: 0px !important; }
    header .col-8 .col-10 {
      padding-right: 0 !important; }

.add_margin_bottom {
  padding-bottom: 50px; }

.left_border {
  border-left: 1px solid #ccc;
  padding-left: 50px;
  margin-bottom: 50px; }

footer {
  margin-top: 100px;
  border-top: 1px solid #D8D8D8; }
  footer [class*='col-'] {
    padding-left: 0 !important; }

.logo_link {
  background-image: url("http://joelletorneros.com/kingflorist/kingflorist_icon.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 7% center; }

.pipe {
  padding: 0 5px;
  color: #D8D8D8; }

h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 4px; }
  h1.center_text {
    padding: 30px 0; }

h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 10px 0; }

.recognize {
  padding-top: 60px; }

.tiles {
  padding: 0 !important; }
  .tiles > [class*='col-'] {
    border: 1px solid #fff;
    padding: 10px !important; }
    .tiles > [class*='col-']:hover {
      border: 1px solid #ef9e9f; }

[class*='tile-'] {
  border: 1px solid #000;
  display: inline-block !important;
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  [class*='tile-'] img {
    opacity: 0;
    width: 1px; }

.caption {
  position: relative; }
  .caption a {
    margin-top: -5rem;
    padding: 20px 40px 20px !important;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3); }

@media only screen and (min-width: 30em) {
  .tile-one,
  .tile-two {
    min-height: 200px; }
  .tile-three,
  .tile-four {
    min-height: 285px; }
  .tile-five {
    min-height: 570px; }
  .tile-six {
    min-height: 265px; } }

.image_container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover; }
  .image_container img {
    opacity: 0;
    height: 160px !important; }

.show_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px; }
  .show_image img {
    opacity: 0;
    height: 0;
    width: 0; }

button {
  border: 1px solid #ef9e9f;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-box-sizing: 10px;
  -moz-box-sizing: 10px; }
  button:hover {
    border-bottom: 2px solid #ef9e9f;
    cursor: pointer;
    color: #D8D8D8; }

form {
  font-family: "Oxygen", sans-serif; }
  form ::-webkit-input-placeholder {
    color: #D8D8D8; }
  form :-moz-placeholder {
    /* Firefox 18- */
    color: #D8D8D8; }
  form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #D8D8D8; }
  form :-ms-input-placeholder {
    color: #D8D8D8; }
  form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    -webkit-box-sizing: 5px;
    -moz-box-sizing: 5px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  form input:focus, form textarea:focus, form select:focus {
    outline: none !important;
    box-shadow: 0 0 5px #ef9e9f; }
