@import url(https://fonts.googleapis.com/css?family=Oxygen:300|Raleway:200);
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.center_text {
  text-align: center; }

.center {
  margin: 0 auto;
  display: block;
  float: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.wrapper,
.row,
.center {
  *zoom: 1; }
  .wrapper:before, .wrapper:after,
  .row:before,
  .row:after,
  .center:before,
  .center:after {
    content: "";
    display: table; }
  .wrapper:after,
  .row:after,
  .center:after {
    clear: both; }

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .col-1 {
    width: 8.33333%; }
  .col-2 {
    width: 16.66667%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33333%; }
  .col-5 {
    width: 41.66667%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33333%; }
  .col-8 {
    width: 66.66667%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33333%; }
  .col-11 {
    width: 91.66667%; }
  .col-12 {
    width: 100%; } }

nav ul {
  list-style-type: none; }

.main_nav ul li a {
  text-align: center;
  border-bottom: 3px solid #fff;
  text-transform: uppercase;
  font-size: 13px; }
  .main_nav ul li a:hover {
    color: #D8D8D8;
    border-bottom: 3px solid #D8D8D8; }

.service_nav {
  padding-bottom: 20px; }
  .service_nav ul li a {
    text-align: center;
    border-bottom: 3px solid #fff; }
    .service_nav ul li a:hover, .service_nav ul li a:active {
      color: #D8D8D8;
      border-bottom: 3px solid #D8D8D8; }

.service {
  border: 2px solid #fff; }
  .service:hover {
    border: 2px solid #D8D8D8;
    cursor: pointer; }

html, body {
  height: 100%;
  font-family: "Oxygen", sans-serif;
  text-transform: none;
  font-weight: 300;
  font-size: 16px; }

a {
  text-decoration: none;
  color: #87CBB6; }

header {
  border-bottom: 1px solid #000; }

.content {
  padding-bottom: 100px; }

.left_border {
  border-left: 1px solid #ccc;
  padding-left: 50px;
  margin-bottom: 50px; }

footer {
  margin-top: 100px;
  border-top: 1px solid #000; }

.pipe {
  padding: 0 5px; }

h1 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 4px; }
  h1.center_text {
    padding: 30px 0; }

h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 10px 0; }

.recognize {
  padding-top: 60px; }

.tiles {
  padding: 0 !important; }
  .tiles > [class*='col-'] {
    border: 1px solid #fff;
    padding: 10px !important; }
    .tiles > [class*='col-']:hover {
      cursor: pointer;
      border: 1px solid #87CBB6; }

[class*='tile-'] {
  border: 1px solid #000;
  display: inline-block !important;
  min-height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.caption {
  position: relative; }
  .caption a {
    margin-top: -5rem;
    padding: 20px 40px 20px !important;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3); }

@media only screen and (min-width: 30em) {
  .tile-one,
  .tile-two {
    min-height: 200px; }
  .tile-three,
  .tile-four {
    min-height: 285px; }
  .tile-five {
    min-height: 570px; }
  .tile-six {
    min-height: 265px; } }

.service {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%; }
  .service img {
    opacity: 0;
    height: 160px !important; }
