<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>King Florist Oahu, Hawaii</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/styles/main.css">
        <script src='https://www.google.com/recaptcha/api.js'></script>
      </head>
      <body>
        <div class="wrapper">
          <header class="row">
            <div class="left col-4">
              <a href="/" class="logo_link col-12"><h2 class="center_text">King Florist</h2></a>
            </div>
            <div class="col-8">
              <nav class="main_nav row">
                <div class="mobile_nav small">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <ul class="col-10 right medium">
                  <li><a href="/services-wedding-flowers" class="col-3">Services</a></li>
                  <li><a href="/about" class="col-3">About</a></li>
                  <li><a href="/how-to-order" class="col-3">How to Order</a></li>
                  <li><a href="/hours-location" class="col-3">Location</a></li>
                </ul>
              </nav>
            </div>
          </header>
          <div class="content row">
            {{{ template }}}
          </div>
          <!-- footer -->
          <footer class="row">
            <div class="col-6">
              <h4>King Florist</h4>
              <address>1296 S. Beretania St. #103 <br> Honolulu, HI 96814</address>
              <p><b>PH:</b> 808.597.1802 <span class="pipe">|</span> <b>FAX:</b> 808.597.1804 <br><b>Email:</b> kingfloristhi@gmail.com</p>
            </div>
            <div class="col-12 center_text">Copyright 2016 | <a href="http://www.kingflorist.com">KingFlorist.com</a></div>
          </footer>
        </div><!-- end of wrapper -->
        <script type="text/javascript">var submitted=false;</script>
        <iframe name="hidden_iframe" id="hidden_iframe"
        style="display:none;" onload="if(submitted)
        {window.location='/how-to-order';}"></iframe>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="/assets/scripts/app.js"></script>
      </body>
    </html>