<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>King Florist Oahu, Hawaii</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/styles/main.css">
      </head>
      <body>
        <header>
          <div class="left">
            <a href="/" class="logo_link"><h3>King Florist</h3></a>
          </div>
          <div class="right">
            <nav>
              <ul>
                <li><a href="/services-wedding-flowers">Services</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/how-to-order">How to Order</a></li>
                <li><a href="/hours-location">Location</a></li>
              </ul>
            </nav>
          </div>
        </header>
        {{{ template }}}
      </body>
      <!-- todo: add footer -->
    </html>